<h3 class="confirm_coment">以下の内容で、投稿する。</h3>

<%= form_with(model: @insta,url: instagrams_path,local: true) do |form| %>
  <%= form.hidden_field :content %>

  <div class = "confirm_img">
    <%= image_tag(@insta.image.url) %>
    <%= hidden_field_tag :"cache[image]",@insta.image.cache_name %>
    <p>内容:<%= @insta.content %></p>
  </div>
  <div class="contribution">
    <%= form.submit "投稿する" %>
  </div>
<% end %>

<%= form_with(model: @insta, url: new_instagram_path, local: true, method: 'get') do |form| %>
  <%= hidden_field_tag :"cache[image]",@insta.image.cache_name %>
  <div class="return">
    <button type="button" class="btn-btn-primary_1"><%= link_to '戻る',new_instagram_path %></button>
  </div>
<% end %>
