<!DOCTYPE html>
<html>
  <head>
    <title>Instaclone</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <%= flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %> -->
  <nav class="navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">Bootstrap</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="gnavi" class="collapse navbar-collapse">
        <ul class="header">
          <li><%= link_to 'トップ', root_path %></li>
          <li><%= link_to '投稿', new_instagram_path %></li>
          <li><%= link_to '一覧', instagrams_path %></li>
          <% if logged_in? %>
            <li><%= link_to "お気に入り", user_path(current_user.id) %></li>
            <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
          <% else %>
            <li><%= link_to "サインアップ", new_user_path %></li>
            <li><%= link_to "ログイン", new_session_path %></li>
          <% end %>
        </ul>
    </div>
  </nav>
  </header>

    <%= yield %>

  </body>
</html>
